# In order to get .env approach working, you might copy this file. This file is read
# line by line by django-environ library (Refer to its documentation to more info).
# Each line is formed by KEY=VALUE where `KEY` is the configuration read by the
# settings.py file. You need to change the values after the `=` sign and can create
# new values by appending new variables at the end of the file.

DEBUG=1
HOST=127.0.0.1
PORT=8000
DATABASE_URL=DATABASE_URL=mysql://<mysql_user>:<mysql_pwd>@<mysql_host>:<mysql_port>/<mysql_database>
SECRET_KEY=